div.board {
    display: flex;
    flex-direction: row;
    background-color: chocolate;
    size: 100vw;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    max-width: 1500vh;
    max-height: 4500vh;
}
div#filter {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    width: 10%;
    height: 500px;
    min-width: 150px;
    max-width: 200px;
}

div#productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    background-color: burlywood;
    width: 100%;
    min-width: 32rem;
    max-width: 1920px;
}
.card {
    margin: 10px;
    height: 30rem;
    min-width: 9rem;
    min-height: 10rem;
    max-height: 30rem;
}
.card-img-top {
    height: 20rem;
    width: 18rem;
    max-width: 18rem;
    max-height: 20rem;
}
.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    max-height: 10rem;
    max-width: 18rem;
    width: fit-content;
    height: fit-content;
}
p.card-text {
    max-height: 10rem;
    max-width: 18rem;
    width: 18rem;
    height: 10rem;
}
