.fixOnPage{
    position:-webkit-sticky;
    position: sticky;
    top:0px;
    padding-bottom: 15px;
    background-color: white;
    z-index: 15;
}
.fixNavOnPage{
    position:-webkit-sticky;
    position: sticky;
    top: 100px;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: white;
    z-index: 10;
    background-image: url('../src/img/ShopRound_Home_BG.jpg') !important;
    background-position: 100px;
}

.nav-link{
    text-decoration: black;
}

.modal-content{
    border-radius: 6% !important;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.breadcrumb{
    background-image: url('../src/img/ShopRound_nav_BG.jpg') !important;
    
}
.breadcrumb > li > a{
    color: black;
}

