.friendCard {
    width: 12rem;
    padding: 0px 0px;
    margin-right: 2.5px;
    margin-bottom: 5px;
    height: fit-content;
    border: 1px solid rgba(0,0,0,.150) !important;
    border-radius: 25px !important;
}

.image{
    width: 50%;
    text-align: center;
}

.listImage{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

.detailImage{
    height: 100%;
    width: 80%;
}